#comparison { 
  width: 60vw;
  height: 60vw;

  overflow: hidden; }
.content { 
  background-image: url(img/before-0.jpg); 
  background-size: cover;
  position: relative;
 
  width: 100%; 
  height: 100%;

}

.content div { 
  background-image: url(img/after-0.jpg);
  background-size: cover;
  position: absolute;
  width: 50%; 

  overflow: hidden;

  height: 100%;
}