body{
    margin:0;
    background-color: black;
}
a{
    text-decoration: none;
    color:white;
}
li{
list-style-type: none;
}
/*
*{
    border:1px solid white;
}
*/
img{
    width: 100%;
}
.wrap{
    max-width: 1280px;
    width: 90%;
    margin:0 auto;
}

.header{
    width: 100%;
    margin:0 auto;
}
.tablist{
    display: flex;
    width: 100%;
}
.tab-btn{
    width: 33%;
    cursor: pointer;
    color:white;
    padding:15px;
    text-align: center;
    border-bottom: white solid 1px;
    font-size: 20px;
}
.tab-con{
    position:absolute;
    display: none;
    width: 90%;
    max-width: 1280px;
}
.tab-current{
    color:red;
    border-bottom: red solid 2px;
}
.tab-con-current{
    display: block;
}

.tab-content{
    width: 100%;
    margin:0 ;
    padding:0;
    display: flex;
    flex-wrap: wrap;
     align-content: center;
     margin-bottom: 60px;
}

.tab-content li {
    width: 30%;
    padding: 1.5%;
}


@media (max-width:580px){
    .tab-btn{
        font-size: 4vw;
        margin-bottom:3vw;
    }
    .tab-content li {
        width:90%;
        margin:2vw auto;
        padding: 1.5%;
    }
}